<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% import 'macros.html' as macro %}
    <meta charset="UTF-8">
    {% if title %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% else %}
    <title> Welcome to the best News Highlight website</title>
    {% endif %}
</head>
<body>
    <!-- Content block-->
    {% block content %}
    <!--Popular Articles-->
    <h3>Political Articles</h3>
    <ul>
        {{ macro.displaySourcesList(political)}}
    </ul>

    {% endblock %}

</body>
</html>