{% macro displaySourcesList(sources_list) %}

    
    <div class="container">
        <div class="row">
            {% for sources in sources_list %}
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
                <div class="card" style="width: rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ sources.name }}</h5>
                      <p class="card-text">{{ sources.description }}</p>
                      <p class="ratings"> <b> {{ sources.country }}</b> - <i>{{ sources.category}} votes </i> </p>
                      <li class="btn btn-primary " style="background-color: #d10024; border-radius: 40px; padding:8px 12px; color: #fff; -webkit-transition: 0.2s; transition: 0.2s;"><a href="{{ sources.url}}" style="color: white">Read Artcle</a></li>
                    </div>
                </div>
            </div> 
            {% endfor %}  
        </div>
    </div>
    
{% endmacro %}

{% macro displayArticlesList(articles_list) %}

    
    <div class="container">
        <div class="row">
        {% for articles in articles_list %}
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card" style="width: 40vw;">
                <img class="card-img-top img-responsive" src="{{ articles.urlToImage}}" alt="Card image cap" width="500vw">
                <div class="card-body">
                  <h4 class="card-title">{{ articles.title }}</h4>
                  <p class="card-text">{{ articles.description }}</p>
                  <p class="card-text">{{ articles.content}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>{{ articles.author }}</b></li>
                  <li class="list-group-item"><i>{{ articles.publishedAt}}</i></li>
                </ul>
                <div class="card-body center-block">
                  <a href="{{ articles.url}}" class="primary-btn cta-btn " style="background-color: #d10024; border-radius: 40px; padding:8px 12px; color: #fff; -webkit-transition: 0.2s; transition: 0.2s;">Read Article</a></a>
                </div>
                <div>
                    <br>
                    <hr>
                </div>
            </div>
          </div>
        {% endfor %}  
        </div>
    </div> 
    
{% endmacro %}

  

{% macro displayHeadlinesList(headlines_list) %}
<div class="container">
    <div class="row">
    {% for headlines in headlines_list %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="card" style="width: vw;">
            <img class="card-img-top img-responsive" src="{{ headlines.urlToImage}}" alt="Card image cap" width="500vw">
            <div class="card-body">
              <h4 class="card-title">{{ headlines.source.name }}</h4>
              <p class="card-text">{{ headlines.author }}</p>
              <p class="card-text">{{ headlines.title }}</p>
              <p class="card-text">{{ headlines.description }}</p>

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i>{{ headlines.publishedAt}}</i></li>
            </ul>
            <div class="card-body center-block">
              <a href="{{ headlines.url}}" class="primary-btn cta-btn " style="background-color: #d10024; border-radius: 40px; padding:8px 12px; color: #fff; -webkit-transition: 0.2s; transition: 0.2s;">Read Article</a></a>
            </div>
            <div>
                <br>
            </div>
        </div>
      </div>
    {% endfor %}  
    </div>
</div> 
    
{% endmacro %}

