{% macro displaySourcesList(sources_list) %}

    
    <div class="container">
        <div class="row">
            {% for sources in sources_list %}
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 movie-details">
                <div class="card" style="width: rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ sources.name }}</h5>
                      <p class="card-text">{{ sources.description }}</p>
                      <p class="ratings"> <b> {{ sources.country }}</b> - <i>{{ sources.category}} votes </i> </p>
                      <li class="btn btn-primary "><a href="{{ sources.url}}" style="color: white">MORE INFO</a></li>
                    </div>
                </div>
            </div> 
            {% endfor %}  
        </div>
    </div>
    
{% endmacro %}

{% macro displayArticlesList(articles_list) %}

    {% for articles in articles_list %}
        <li>{{ articles.author }}</li>
        <li>{{ articles.title }}</li>
        <li>{{ articles.description }}</li>
        <li><a href="{{ articles.url}}">Link</a></li>
        <img src="{{ articles.urlToImage}}" alt="" width="100vw">
        <li>{{ articles.publishedAt}}</li> 
        <li>{{ articles.content}}</li> 
    {% endfor %}
{% endmacro %}

{% macro displayHeadlinesList(headlines_list) %}

    {% for headlines in headlines_list %}
        <li>{{ headlines.source.name }}</li>
        <li>{{ headlines.author }}</li>
        <li>{{ headlines.title }}</li>
        <li>{{ headlines.description }}</li>
        <li><a href="{{ headlines.url}}">More</a></li>
        <img src="{{ headlines.urlToImage}}" alt="" width="100vw">
        <li>{{ headlines.publishedAt}}</li> 
    {% endfor %}
{% endmacro %}

