<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% import 'macros.html' as macro %}
    <meta charset="UTF-8">
    {% if title %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% else %}
    <title> Welcome to the best News Highlight website</title>
    {% endif %}
</head>
<body>
    <!-- Styles block-->
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
    
    <!--Javascript block-->
    {% block scripts%}
    {{ super() }}
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
    {% endblock %}
    
    <!-- Content block-->
    {% block content %}
     
     <!--Sports Articles-->
     <div class="container" style="border-bottom: 1px solid rgba(0, 0, 0, 0.5); margin-bottom: 20px; width: 50%;">
        <h3 style="border-bottom: 5px solid #ff8c00; margin-bottom: 0px; padding-bottom: 15px; margin-left: auto; margin-right: auto; width: 30%; ">Sports News</h3>
     </div>
     
     <ul>
        {{ macro.displaySourcesList(sports)}}
    </ul>
    <!--Entertainment Articles-->
    <div class="container" style="border-bottom: 1px solid rgba(0, 0, 0, 0.5); margin-bottom: 20px; width: 50%;">
        <h3 style="border-bottom: 5px solid #ff8c00; margin-bottom: 0px; padding-bottom: 15px; margin-left: auto; margin-right: auto; width: 30%; ">Entertainment News</h3>
    </div>
    
    <ul>
       {{ macro.displaySourcesList(entertainment)}}
   </ul>

    {% endblock %}

</body>

</html>